.rbc-calendar {
    min-height: 600px;
}

.rbc-date-cell a:hover {
    color: #56BB99;
}

.rbc-event {
    border: none;
    font-size: 11px;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    margin-top: .8rem;
    padding: 2px 5px;
    background-color: #38955E !important;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.rbc-slot-selecting .rbc-event {
    cursor: inherit;
    pointer-events: none; }

.rbc-event.rbc-selected {
    background-color: rgb(0, 100, 45);
}

.rbc-event:focus {
    background-color: rgb(0, 100, 45);
}

.rbc-event:hover .rbc-event-course, .rbc-event:hover {
    background-color: rgb(0, 100, 45) !important;
}

.rbc-event-course {
    color: rgba(0,0,0,.87);
    line-height: 1rem;
    margin-top: -.75rem;
    margin-left: .75rem;
    position: absolute;
    background-color: #005325 !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 85%;
}

.ui.vertical.segment.appointment-list:hover {
    background: #f3f3f3 !important;
}

.form.ui.form.reminder-fields div.middle.aligned.content div.grouped.fields {
    display: inline-flex !important;
}

.form.ui.form.reminder-fields div.middle.aligned.content {
    display: inline-flex !important;
}

.reminder-modal {
    min-width: 60rem;
    padding: 1.5rem;
}